@model X.PagedList.IPagedList<mvc_project.EMS.Domain.Entities.Employee>
@using System.Security.Claims;
@using X.PagedList.Mvc.Core

<input type="text" id="message" />

<button onclick="sendMessage()">
    Send
</button>

<ul id="messages"></ul>

<form method="get">
    <input type="text"
           name="search"
           placeholder="Search Employee" />

    <button type="submit">
        Search
    </button>
</form>
@if(User.HasClaim(ClaimTypes.Role,"Admin"))
{
<a asp-action="Create"
   class="btn btn-primary">
    Add Employee
</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Department</td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(
    Model,
    page => Url.Action("Index",
    new { page }))